SysOtica Prj/SysOtica Prj/SysOticaForm/Service References/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2827/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SysOtica.Negocio.Classes_Basicas" />
  <xs:element name="InserirProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SysOtica.Negocio.Classes_Basicas" minOccurs="0" name="p" nillable="true" type="q1:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirProdutoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SysOtica.Negocio.Classes_Basicas" minOccurs="0" name="p" nillable="true" type="q2:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarProdutoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="excluirProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SysOtica.Negocio.Classes_Basicas" minOccurs="0" name="p" nillable="true" type="q3:Produto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="excluirProdutoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="pesquisaProduto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pr_descricao" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pesquisaProdutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SysOtica.Negocio.Classes_Basicas" minOccurs="0" name="pesquisaProdutoResult" nillable="true" type="q4:ArrayOfProduto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarProduto">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarProdutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SysOtica.Negocio.Classes_Basicas" minOccurs="0" name="listarProdutoResult" nillable="true" type="q5:ArrayOfProduto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="inserir">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SysOtica.Negocio.Classes_Basicas" minOccurs="0" name="v" nillable="true" type="q6:Venda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="inserirResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="alterarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/SysOtica.Negocio.Classes_Basicas" minOccurs="0" name="c" nillable="true" type="q7:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="alterarClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="inserirCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/SysOtica.Negocio.Classes_Basicas" minOccurs="0" name="c" nillable="true" type="q8:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="inserirClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="excluirCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/SysOtica.Negocio.Classes_Basicas" minOccurs="0" name="c" nillable="true" type="q9:Cliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="excluirClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="pesquisarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cl_nome" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="pesquisarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/SysOtica.Negocio.Classes_Basicas" minOccurs="0" name="pesquisarClienteResult" nillable="true" type="q10:ArrayOfCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarCliente">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/SysOtica.Negocio.Classes_Basicas" minOccurs="0" name="listarClienteResult" nillable="true" type="q11:ArrayOfCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cl_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/SysOtica.Negocio.Classes_Basicas" minOccurs="0" name="getClienteResult" nillable="true" type="q12:ArrayOfCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirReceita">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/SysOtica.Negocio.Classes_Basicas" minOccurs="0" name="receita" nillable="true" type="q13:Receita" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirReceitaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarReceita">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/SysOtica.Negocio.Classes_Basicas" minOccurs="0" name="receita" nillable="true" type="q14:Receita" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AlterarReceitaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirReceita">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/SysOtica.Negocio.Classes_Basicas" minOccurs="0" name="receita" nillable="true" type="q15:Receita" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExcluirReceitaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PuxaReceita">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cl_nome" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PuxaReceitaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/SysOtica.Negocio.Classes_Basicas" minOccurs="0" name="PuxaReceitaResult" nillable="true" type="q16:ArrayOfReceita" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaReceita">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListaReceitaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/SysOtica.Negocio.Classes_Basicas" minOccurs="0" name="ListaReceitaResult" nillable="true" type="q17:ArrayOfReceita" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="vendaReceita">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="vendaReceitaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/SysOtica.Negocio.Classes_Basicas" minOccurs="0" name="vendaReceitaResult" nillable="true" type="q18:ArrayOfReceita" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>